{{extend 'layout.html'}}

{{block head}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
    var add_url = "{{=URL('api', 'add_url', user_signature=True)}}";
    var init_users_url = "{{=URL('api', 'get_users', user_signature=True)}}";
    var get_images = "{{=URL('api', 'get_images', user_signature= True)}}";
    var get_current_user = "{{=URL('api', 'get_current_user', user_signature= True)}}";
    var update_price = "{{=URL('api', 'set_my_price', user_signature= True)}}";
    var purchase_url = "{{=URL('default', 'purchase', hmac_key=session.hmac_key)}}"

</script>


{{end}}

<div class="main_shop_content" style="height:250%;">

    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

        <div class="container padded">

            <div class="images threequarters">
                <!-- Left part of the page -->
                <div v-if="my_page">
                    <!-- Code to upload files, with control buttons -->
                    <div id="uploader_div" style="display:none">
                        Upload an image file: <input id="upload_file" type="file" accept="image/jpeg">
                        <label for="enter_price">Enter the price:</label>
                        <input id="enter_price" type="number">
                        <button v-on:click="upload_file"><i class="fa fa-check"></i>Submit</button>

                    </div>

                    <button v-if="(!is_uploading) & uploadable" v-on:click="start_uploader"><i class="fa fa-plus"></i>
                    </button>
                    <button v-if="is_uploading & uploadable" v-on:click="cancel_uploader"><i class="fa fa-times"></i>Cancel</button>
                </div>

                <div>
                    <button v-if="!uploadable" v-on:click="checkout" style="font-size:20px;">Checkout</button>

                </div>


                <div v-if="is_checkingout" id="cart_list">
                    <div v-if="images_in_cart.length == 0" class="container">
                        <div class="cart_empty">
                            Your shopping cart is empty now. Please press check to add items.
                        </div>
                    </div>
                    <div v-for="product in images_in_cart" class="container">
                        <div class="col-md-3 prod_image third">
                            <img v-bind:src="product.url" width="100%" class="product_image"/>
                        </div>
                        <div class="col-md-10 product_info twothirds">
                            <div class="product_quantity_price" style="font-weight: bold;">
                                <span class="product_price">$ ${product.price}</span>

                            </div>

                        </div>
                    </div>
                    <div v-if="images_in_cart.length > 0" class="price_in_total" style="font-weight: bold;">
                        The total price will be: $ ${cart_total}
                        <button class="btn blue" v-on:click="pay()" style="font-size:15px;"><i class="fa fa-lg fa-credit-card"></i> BUY</button>
                    </div>
                </div>



                <div class="image_container">
                    <!-- Put here the code to display the images -->

                    <ul class="container">

                        <li v-for="image in user_images" class="card lifted padded quarter" style="text-align: center">
                            <img v-bind:src=image.url height="175px" width="175px" class="padded"/>
                            <br>
                            <input v-if="uploadable" v-model="image.price" type="number"
                                   v-on:blur="set_my_price(image._idx)"/>
                            <label v-if="!uploadable">$ ${image.price}</label>
                            <br>
                            <input v-if="!uploadable" v-model="images_in_cart" type="checkbox"
                                   v-bind:value="image"/>
                            <i v-if="!uploadable &  !images_in_cart.includes(image._idx)"
                               class="fa fa-shopping-cart"></i>
                            <i v-if="!uploadable & images_in_cart.includes(image._idx) " class="fa fa-check"> </i>
                            <i v-if="!uploadable & images_in_cart.includes(image._idx) "
                               class="fa fa-shopping-cart"></i>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="user_list quarter right">
                <!-- Right part of the page -->
                <table class="fill" id="user_click" v-on:load="get_current_user">

                    <tr v-for="user in users">
                        <td v-if="user.id == this_user_id">
                            <button class="btn rounded" v-on:click="get_images" v-bind:name=user.id
                                    style="font-size:15px;">
                                ${user.first_name} ${user.last_name}
                            </button>
                        </td>
                    </tr>

                    <tr v-for="user in users">
                        <td v-if="user.id != this_user_id">
                            <button class="btn rounded" v-on:click="get_images" v-bind:name=user.id
                                    style="font-size:15px;">
                                ${user.first_name} ${user.last_name}
                            </button>
                        </td>
                    </tr>
                    <!-- Then, one row for each person. -->
                    </tbody>
                </table>

            </div>

        </div>

    </div>

    <script src="{{=URL('static', 'js/default_index.js')}}"></script>
